/*
*{
    box-shadow: inset 0px 0px 2px rgba(255,0,0,0.8);
}
*/
.main-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.txt {
    font-size: 18pt;
    text-align: justify;
    max-width: 1200px;
   /* min-width: 300px;*/
    margin: 25px 30px;

}
.main-intro{
    position: relative;
    margin-bottom: 410px;
}
.wave{
    z-index: 2;
    position: absolute;
    left: 40%;
    filter: brightness(97.5%);
}

.msg-intro{
    font-size: .96em;
    background-color: #11995542;
    padding: 12px;
    border-radius: 10px;
    position: absolute;
    top: 150.5px;
    box-shadow: 0.5px -0.9px 5px #0000001e;
}

.msg-dev {
    font-size: .9em;

}
.msg-dev h2{
    margin-bottom: 15px;
    text-align: center;
}

.mod-txt {
    text-align: center;
    font-size: 18px;
    margin: 30px 0 15px 0;
}





.works {
    display: flex;
    /* width: 800px;*/
    width: 100%;
    flex-direction: row;
    justify-content: center;
    background-color: #5856561c;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px 0 40px 0;


}

/*
i {
    font-size: 55px;
}
*/
.works .school {
    background-color: #0c7068e2;
    width: 300px;
    height: 250px;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    margin: 20px ;
    color: #fff;

    box-shadow: 0px 10px 1px #09524cf1;
}

.school:hover {
    background-color: #0a4f49e2;
    color: #fff;
    box-shadow: 0px 10px 1px #0c7068e2;
}

.school:active {
    box-shadow: 0px -10px 1px #0c7068e2;

}

.works .school p {
    padding: 12px;
    font-weight: 700;
    font-size: 1.9em;
    margin-top: 20px;
    
}


@media screen and (max-width:768px){

    .txt {
        font-size: 12pt;
        text-align: justify;
        max-width: 1200px;
       /* min-width: 300px;*/
        margin: 25px 13px;
    
    }
    
    .msg-intro{
        font-size: .96em;
        background-color: #11995542;
        padding: 12px;
        border-radius: 10px;
    }
    
    .msg-dev {
        font-size: 1em;
    
    }
    .msg-dev h2{
        margin-bottom: 18px;
        font-size: 1.45em;
    }
    
    .mod-txt {
        text-align: center;
        font-size: 18px;
        margin: 30px 0 15px 0;
    }
    
}

@media screen and (max-width:809px){
    .main-intro{
        margin-bottom: 500px;
    }


@media screen and (max-width:768px){
    .main-intro{
        margin-bottom: 400px;
    }
}   
.wave{
    left: 28.5%;
    width: 200px;
}
.msg-intro{
    top: 105.5px;
}


}