/*
*{
    box-shadow: inset 0px 0px 2px rgba(255,0,0,0.8);
}
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --azul-claro: #2294b1;
    --fundo: #ffffff;
    --cabecalho: #038065;
    --rodape: #073027;
    --azul-escuro: #383838c1;
    --azul-fonte: #023047;

}
::-webkit-scrollbar{
    width: 0px;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    left: 0;
    top: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border:none;
}


body{
    --header-height: 50px;

    margin: var(--header-height) 0 0 0;
    font-family: sans-serif;
}
.preload *{
    transition: none !important;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: #037b4d;
    display: flex;
    z-index: 900;
    box-shadow: 0px .5px 8px #00000052;

}

.header__button{
    width: var(--header-height);
    flex-shrink: 0;
    background: none;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.nav__links{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 250px;
    background: #fff;
    transform: translateX(-250px);
    transition: transform 0.2s;
}

.nav--open .nav__links{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link{
    display: flex;
    align-items: center;
    color: #666666;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
    background: transform 0.3s;

}

.fundo-menu {
    background: #009578;
    padding-bottom: 60px;
    background-position: center;
    color: #fff;
    cursor: pointer;
}

.nav__link > i{
    margin-right: 15px;
}

.nav__link:active,
.nav__link:hover,
.modulos .li a:active{
    color: #009578;
    background-color: #eeeeee;
   
}

.overlay_first{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    transition: opacity 0.3s;
    z-index: 980;
    display: none;

}
.nav__overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:transparent;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;

}

.nav--open .nav__overlay{
    visibility: visible;
    opacity: 1;
}



.logo{
    display: flex;
    justify-content: center;
    line-height: 45px;
    width: 80%;
    font-weight: 600;
}

/******* EXTRAS *******/
.ul {
    left: 0;
    display: none;
}

:checked+.ul {
    display: block;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}
label > i{
    margin-right: 15px;
}
label > span{
    margin-left: 100px;
}

.ul .li {
    cursor: pointer;
    border-top: solid 1px silver;
    

}
.ul .li:last-child{
    border-bottom: solid 1px silver;
}

 .li a {
    text-decoration: none;
    display: block;
}

 .ul {
    position: static;
}

 .ul .li a {
    color: #666666;
}
.segundo{
    padding-bottom: 10px;
}
.li span {
    transition: 0.5s;
}

 .li span.rotate {
    transform: rotate(-180deg);
}

input {
    display: none;
}

.modulos{
    z-index: 999;

}
.modulos .li{
    padding: 10px;
    margin: 10px 0;
    width: 220px;
}

.modulos .li a{
    display: flex;
    align-items: center;
    color: #666666;
}
.modulos .li a > i{
    margin-right: 15px;
}

/**************CODIGO ANTERIOR****************/





a {
    color: var(--azul-fonte);
    text-decoration: none;
}
/*
html{
    overflow: hidden;
}*/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--fundo);
    color: #fff;

}
/*
header {
    background-color: var(--cabecalho);
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    box-shadow: 0px .5px 8px #00000052;

}

.logo {
    display: flex;
    justify-content: center;
    flex-grow: .9;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    width: 180px;
    background-color: #ff000044;

    color: #fff;
}
.light{
    font-weight: 400;
}

@keyframes light-contact {

    50% {
        color:#5e5d5d5e;
    }
}
.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    font-weight: 400;
    padding: 20px;
    margin: 5px 5px 5px 0;
    text-align: center;
    border-radius: 22px;
    background-color: #ff000044;
    color: #fff;
    position: relative;
    cursor: pointer;
    animation-name: light-contact;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
}

.sapp{
    font-size: 1.7em;
}
*/

/*SILDER*/
.swiper-container{
    overflow: hidden
}

.home{
   /* padding:.1rem 9%;*/
   /* margin-top: 48px;*/
    color: red;
   /* background-color: lightgray;*/
    
}
.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem; 
   /* padding-top: 2rem;*/

}

.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image{
    flex:1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

/*
.home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
    line-height: 1.5;
}
*/
.swiper-pagination-bullet-active{
    background:var(--cabecalho);
}

.swiper-pagination {
   position: initial;
}

/*SLIDER END*/

section {
    flex: 1 0 auto;
    color: var(--azul-fonte);
}


/* Apenas para relembrAr o efeirto PARALAX
.img {
    background-color: var(--azul-escuro);
    width: 100%;
    height: 420px;
    background-image: url(../img/excel-fundo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

*/
.welcome {
    font-size: 2.5em;
    text-align: center;
    margin:30px 0 5px 0;
    width: 100%;
}
.sub-come{
    padding: 5px 10px;
    font-size: 1.8em;
    text-align: center;
    margin: 0 0 30px 0;
    width: 100%;
}

/**********************************/
/********* IFRAME RESPONSIVE **********/
#mainIframe1 {
    max-width: 500px;
    margin: 0 auto;
    /*padding: 100px 0 0;*/
    /*padding: 5px 0 0 0;*/
}

#mainIframe {
    max-width: 600px;
    min-width: 250px;
    margin: 0 auto;
    /*padding: 100px 0 0;*/
    padding: 50px 0 0;
}

.responsive {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.responsive img,
iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}



.off{
    margin-top: 35px;
}
.description{
    text-align: center;
    font-size: .9em;
} 
























footer {
    flex-shrink: 0;
    width: 100%;
    height: 40px;
    background-color: var(--rodape);
    font-weight: 300;
   /* margin-top: 250px;*/
}

.copy {
    line-height: 40px;
    text-align: center;
    font-size: .7em;
}

.copy a{
    color:#fff;   
}
.copy a:hover{
    text-decoration: underline;
}



/********************************/
@media screen and (max-width:670px) {
    .welcome {
        font-size: 1.9em;
    }
    .sub-come{
        font-size: 1.2em;
    }
   
}

@media screen and (max-width:460px) {
    
    .welcome {
        font-size: 1.5em;
    }
    .sub-come{
        font-size: 1em;
    }
      
}
@media screen and (max-width:320px) {
    
    .contacto {
        font-size: .65em;
        padding: 10px;
        border-radius: 24px;
    }  
    
    .welcome {
        font-size: 1.35em;
    }
    .sub-come{
        font-size: 1em;
    }
    
        
}



