
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --azul-claro: #2294b1;
    --fundo: #ffffff;
    --cabecalho: #038065;
    --rodape: #073027;
    --azul-escuro: #383838c1;
    --azul-fonte: #023047;

}
::-webkit-scrollbar{
    width: 0px;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    left: 0;
    top: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border:none;
    transition: all .2s linear;

}

a {
    color: var(--azul-fonte);
    text-decoration: none;
}
/*
html{
    overflow: hidden;
}*/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #fff;
    background: #1b6e63;
   

}

header {
    background-color: var(--cabecalho);
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    box-shadow: 0px .5px 8px #00000052;

}

.logo {
    display: flex;
    justify-content: center;
    flex-grow: 3;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    width: 200px;
   /* background-color: #ff000044;*/

    color: #fff;
}


.light{
    font-weight: 400;
}


/**********************************/
.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    line-height: 50px;
    width: 90px;
  /*  background-color: #ff000044;*/
    cursor: pointer;
    color: #fff;
}

.seta {
    font-size: 36px;
}




section {
    flex: 1 0 auto;
    color: var(--azul-fonte);
}





















footer {
    flex-shrink: 0;
    width: 100%;
    height: 40px;
    background-color: var(--rodape);
    font-weight: 300;
}

.copy {
    line-height: 40px;
    text-align: center;
    font-size: .7em;
}

.copy a{
    color:#fff;   
}
.copy a:hover{
    text-decoration: underline;
}







@media screen and (max-width:490px) {
    .seta {
        font-size: 30px;
    }
    
}
@media screen and (max-width:460px) {
    .seta {
        font-size: 28px;
    }
    
}

@media screen and (max-width:430px) {
    .back {
        line-height: 50px;
        width: 50px;
    }
    
    .seta {
        font-size: 22px;
    }
    

}
@media screen and (max-width:320px) {
    .back {
        line-height: 50px;
        width: 45px;
    }
    
    .seta {
        font-size: 22px;
    }
    

}




@media screen and (max-width:490px) {
    
    .logo {
        font-size: 1.1em;
  
    }
        
}
@media screen and (max-width:460px) {
    
    .logo {
        font-size: 1em;
        width: 180px;
  }
    }
@media screen and (max-width:430px) {
    .logo {
        font-size: .93em;
        width: 180px;
  
    }
    
}
@media screen and (max-width:385px) {
    
    .logo {
        font-size: 0.9em;
  
    }
        
}
@media screen and (max-width:320px) {
    
    .logo {
        flex-grow: .9;
        font-size: 0.85em;
  
    }
        
}



